
*.xml
*.iml
*.pyc
*.js
*.txt
*.svg
*.woff
static/admin/css/widgets.css
static/admin/css/vendor/select2/select2.min.css
static/admin/css/vendor/select2/select2.css
static/admin/css/responsive_rtl.css
static/admin/css/responsive.css
static/admin/css/fonts.css
static/admin/css/forms.css
static/admin/css/login.css
static/admin/css/nav_sidebar.css
static/admin/css/dashboard.css
static/admin/css/changelists.css
static/admin/css/base.css
static/admin/css/autocomplete.css
static/admin/css/rtl.css
static/admin/css/vendor/select2/LICENSE-SELECT2.md
static/admin/img/LICENSE
static/admin/js/vendor/select2/LICENSE.md
