{% load static %}
<link rel="stylesheet" type=text/css href="{% static "game/change_part.css" %}">
<input type="button" value="Poprzednia strona" name="back" onclick="history.back()">
<form method="post">
<label>
    <select name="motherboards">
        {% for motherboard in motherboards %}
            <option value="{{ motherboard.name }}">{{ motherboard.name }}</option>
        {% endfor %}
    </select>
</label>
    {% csrf_token %}
    <p><input type="submit" value="Zmien płytę główną"></p>
</form>