<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="button" data-bs-toggle="modal" value="Filtry wyszukiwania" data-bs-target="#popup">
<div class="modal" id="popup" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wyszukaj</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        modal body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij okno</button>
        <button type="button" class="btn btn-primary">Zapisz zmiany</button>
      </div>
    </div>
  </div>
</div>
<section>
    {% for graphic in graphics %}
        <article>
        <h3>{{ graphic.name }}</h3>
        <input type="button" value="Kup kartę" onclick="location.href='/game/shop/graphic_buy/{{ graphic.pk }}';">
        </article>
    {% endfor %}
</section>
</body>
</html>