<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/service_style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
{% include 'navbar.html' %}
<h1>About</h1>
<article>
    <h3>Jesteś młodym szefem firmy naprawiającej popsute PC. Niestety nie wiesz co za problem może Cię teraz czekać!</h3>
    <h3>Ale bardzo mocno w siebie wierzysz i potrafisz sprostać każdemu zadaniu!</h3>
    <h2>Ale czy na pewno? Kliknij i przekonaj się!</h2>
    <h2>Ale wpierw musisz się zarejestrować</h2>
</article>
</body>
</html>