body {
    height: 100%;
    width: 100%;
    background-image: url("wallpapers/delete.jpg");
    background-size: cover;
}

form {
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
}

input[type='submit'] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 1px solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    box-shadow: 2px 2px gray;
    transition-duration: 0.4s;
}

input[type='submit']:hover {
    background-color: red;
    font-size: larger;
}