form {
    text-align: center;
}
a {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 1px solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    box-shadow: 2px 2px gray;
    background-color: white;
}
img {
    height: 10%;
    width: 100px;
    text-align: left;
}
body {
    height: 100%;
    width: 100%;
    background-image: url("wallpapers/task.png");
    background-size: cover;
}
input[type='button']{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 1px solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    box-shadow: 2px 2px gray;
    transition-duration: 0.4s;
    background-color: white;
}
input[type='submit']{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 1px solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    box-shadow: 2px 2px gray;
    transition-duration: 0.4s;
    background-color: white;
}
input[type='submit']:hover{
    background-color: #ddffdd;
}
input[type='button']:hover{
    background-color: #ddffdd;
}
#check:hover{
    background-color: #5897fb;
    color: yellow;
}
#fail:hover{
    background-color: black;
    color: red;
}
#give_back:hover{
    background-color: green;
    color: yellow;
}
.messages {
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: both;
    transition-duration: 0.4s;
    background-color: #81d4fa;
    border: 4px black solid;
    color: black;
    width: 40%;
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
